# Database
DATABASE_PASSWORD=
DATABASE_USER=
DATABASE_DB=
DATABASE_HOST=
DATABASE_INTERNAL_PORT=
DATABASE_HOST_PORT=
POSTGRES_DATA_PATH=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=
PGADMIN_DATA_PATH=

# Application
APP_PORT=

# Strapi secrets
STRAPI_APP_KEYS=
STRAPI_API_TOKEN_SALT=
STRAPI_ADMIN_JWT_SECRET=
STRAPI_TRANSFER_TOKEN_SALT=
STRAPI_JWT_SECRET=

# Initial Strapi administrator
STRAPI_ADMIN_EMAIL=
STRAPI_ADMIN_PASSWORD=

# Backups
BACKUP_PASSPHRASE=
BACKUP_DIR=
