DATABASE_PASSWORD=
DATABASE_USER=
DATABASE_DB=
DATABASE_HOST=db
DATABASE_INTERNAL_PORT=5432
DATABASE_HOST_PORT=54327
POSTGRES_DATA_PATH=./data/postgres

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=8083
PGADMIN_DATA_PATH=./data/pgadmin

APP_PORT=9093
MAILPIT_WEB_PORT=8025
MAILPIT_DATA_PATH=./data/mailpit

STRAPI_APP_KEYS=
STRAPI_API_TOKEN_SALT=
STRAPI_ADMIN_JWT_SECRET=
STRAPI_TRANSFER_TOKEN_SALT=
STRAPI_JWT_SECRET=
