# For example http://127.0.0.1:9093
@baseUrl =

@adminFirstName =
@adminLastName =
@adminEmail =
@adminPassword =
@adminResetCode = PASTE_ADMIN_RESET_TOKEN_HERE
@adminResetPassword =

@userUsername =
@userEmail =
@userPassword =
@userResetCode = PASTE_USER_RESET_TOKEN_HERE
@userResetPassword =

### 1. Admin Section
### 1.1 Register Admin
# @name adminRegister
POST {{baseUrl}}/admin/auth/register-admin
Content-Type: application/json

{
  "firstname": "{{adminFirstName}}",
  "lastname": "{{adminLastName}}",
  "email": "{{adminEmail}}",
  "password": "{{adminPassword}}",
  "rememberMe": true
}

### 1.2 Admin Login
# @name adminLogin
POST {{baseUrl}}/admin/auth/login
Content-Type: application/json

{
  "email": "{{adminEmail}}",
  "password": "{{adminPassword}}",
  "rememberMe": true
}

### 1.3 Admin Forgot Password
# @name adminForgotPassword
POST {{baseUrl}}/admin/auth/forgot-password
Content-Type: application/json

{
  "email": "{{adminEmail}}"
}

### 1.4 Admin Profile
# @name adminProfile
GET {{baseUrl}}/admin/auth/users/me
Authorization: Bearer {{adminLogin.response.body.$.data.token}}

### 1.5 Admin Reset Password
# @name adminResetPasswordRequest
POST {{baseUrl}}/admin/auth/reset-password
Content-Type: application/json

{
  "code": "{{adminResetCode}}",
  "password": "{{adminResetPassword}}",
  "passwordConfirmation": "{{adminResetPassword}}"
}

### 2. User Section
### 2.1 User Register
# @name userRegister
POST {{baseUrl}}/api/auth/register
Content-Type: application/json

{
  "username": "{{userUsername}}",
  "email": "{{userEmail}}",
  "password": "{{userPassword}}"
}

### 2.2 User Login
# @name userLogin
POST {{baseUrl}}/api/auth/login
Content-Type: application/json

{
  "identifier": "{{userEmail}}",
  "password": "{{userPassword}}"
}

### 2.3 User Forgot Password
# @name userForgotPassword
POST {{baseUrl}}/api/auth/forgot-password
Content-Type: application/json

{
  "email": "{{userEmail}}"
}

### 2.4 User Profile
# @name userProfile
GET {{baseUrl}}/api/auth/users/me
Authorization: Bearer {{userLogin.response.body.$.jwt}}

### 2.5 User Reset Password
# @name userResetPasswordRequest
POST {{baseUrl}}/api/auth/reset-password
Content-Type: application/json

{
  "code": "{{userResetCode}}",
  "password": "{{userResetPassword}}",
  "passwordConfirmation": "{{userResetPassword}}"
}

### 2.6 User Logout
# @name userLogout
POST {{baseUrl}}/api/auth/logout
Content-Type: application/json
Authorization: Bearer {{userLogin.response.body.$.jwt}}

{}
